<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="shortcut icon" type="favicon.co" href="favicon.ico" />
</head>

<body>
    <div class="container">
        {{#if error}} {{error}} {{/if}}
    </div>
    <div class="container">
        {{{body}}}
    </div>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
</body>

</html>